version: "3.9"

services:
  # --- Airflow metadata database ---
  airflow-db:
    container_name: airflow-db
    image: postgres:16.4
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
      PGUSER: airflow
      PGPASSWORD: airflow
      PGDATABASE: airflow
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata_airflow:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U airflow"]
      interval: 10s
      retries: 5
    restart: always
  
  # --- pgAdmin UI for both databases ---
  pgadmin:
    container_name: pgadmin
    image: elestio/pgadmin:REL-8_10
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@example.com
      PGADMIN_DEFAULT_PASSWORD: admin
      CSRF_ENABLED: "False"
    ports:
      - "5050:80"
    depends_on:
      - airflow-db

  # --- Airflow initialization (one-time setup) ---
  airflow-init:
    image: apache/airflow:2.8.1
    container_name: airflow-init
    entrypoint: /bin/bash
    command:
      - -c
      - |
        pip install -r /requirements.txt
        pip install apache-airflow-providers-clickhouse clickhouse-connect
        airflow db init
        airflow users create \
          --username admin \
          --password admin \
          --firstname Admin \
          --lastname User \
          --role Admin \
          --email admin@example.com
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@airflow-db:5432/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      AIRFLOW_CONN_CLICKHOUSE_DEFAULT: clickhouse://default:@clickhouse-server:9000/default

    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./requirements.txt:/requirements.txt
    depends_on:
      airflow-db:
        condition: service_healthy
    restart: "no"

  # --- Airflow Webserver ---
  airflow-webserver:
    image: apache/airflow:2.8.1
    container_name: airflow-webserver
    command: >
      bash -c "pip install -r /requirements.txt && airflow webserver"
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@airflow-db:5432/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      AIRFLOW__API__AUTH_BACKENDS: "airflow.api.auth.backend.basic_auth"
      AIRFLOW_CONN_CLICKHOUSE_DEFAULT: clickhouse://default:@clickhouse-server:9000/default

    ports:
      - "8080:8080"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./data:/opt/airflow/dags/data
      - ./requirements.txt:/requirements.txt
      - ./dbt/profiles.yml:/opt/airflow/.dbt/profiles.yml
      - ./dbt:/opt/airflow/dags/dbt 
    depends_on:
      airflow-db:
        condition: service_healthy
      airflow-init:
        condition: service_completed_successfully
    restart: always

  # --- Airflow Scheduler ---
  airflow-scheduler:
    image: apache/airflow:2.8.1
    container_name: airflow-scheduler
    command: >
      bash -c "pip install -r /requirements.txt && airflow scheduler"
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@airflow-db:5432/airflow
      AIRFLOW__CORE__LOAD_EXAMPLES: "false"
      AIRFLOW_CONN_CLICKHOUSE_DEFAULT: clickhouse://default:@clickhouse-server:9000/default

    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./dbt/profiles.yml:/opt/airflow/.dbt/profiles.yml
      - ./dbt:/opt/airflow/dags/dbt 
      - ./requirements.txt:/requirements.txt
    depends_on:
      airflow-db:
        condition: service_healthy
      airflow-init:
        condition: service_completed_successfully
    restart: always

  clickhouse-server:
    image: clickhouse/clickhouse-server:24.3
    container_name: clickhouse-server
    environment:
      CLICKHOUSE_USER: default
      CLICKHOUSE_PASSWORD: mypassword
    ports:
    - "8123:8123"
    - "9000:9000"
    volumes:
      - ./data:/var/lib/clickhouse
    restart: always

volumes:
  pgdata_airflow:

